<h1>List of books</h1>
<div>
  <%= link_to 'Create new book', new_book_path %>
</div>

<ul>
<% @books.each do |book| %>
  <div>
    <span><%= book.title %></span>
    <span><%= book.description %></span>
    <span><%= book.rating %></span>
    <span><%= link_to 'Edit', edit_book_path(book) %></span>
  </div>
<% end %>